.drawer-container
  min-width: 100%
  min-height: 100vh
  .drawer-menu-container
    background-color: rgb(29, 19, 105)
    min-width: 20%
    padding-top: 2rem
    padding-left: 1rem

    .list-flights
      display: flex
      flex-direction: column
      gap: 2rem 0
      .flight-item
        color: white
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 10px

.drawer-content
  background-color: #f5f5f5
  min-width: 80%
  min-height: 100vh
