<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" class="drawer-menu-container" opened>
    <mat-nav-list class="list-flights">
      <ng-container *ngFor="let flight of flights">
        <div mat-list-item [routerLink]="'/flight/'+ flight.id" class="flight-item">
          <mat-icon mat-list-item-icon>flight</mat-icon>
          <span mat-line>{{flight.title}}</span>
        </div>

      </ng-container>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
